<div class="minibio">
  <div class="avatar-img-border float-left">
    <a href="{{ '' | absolute_url }}">
      <img
        alt="Navigation bar avatar"
        class="avatar-img"
        src="{{ site.avatar | relative_url }}"
      />
    </a>
  </div>

  <p>I'm Kian Ryan</p>

  <p><a href="{{ site.aboutme }}">TLDR;</a> I sport, code, make stuff, and <a href="https://twitch.tv/betsyandsamantha">play adventure games</a>.</p>

  <p>Get jabbed.  Wear a F-ing mask.  Trans rights are human rights.  NFTs are still a scam. Get f-ed Putin.</p>
</div>

<div class="dabillz">
  <p>There are no ads on this blog and as far as I can remember, never have been.</p>

  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'G2G71ICTD');kofiwidget2.draw();</script>

</div>