<div class="minibio">
  <div class="avatar-img-border float-left">
    <a href="{{ '' | absolute_url }}">
      <img
        alt="Navigation bar avatar"
        class="avatar-img"
        src="{{ site.avatar | relative_url }}"
      />
    </a>
  </div>

  <p>I'm Kian Ryan</p>

  <p><a href="{{ site.aboutme }}">TLDR;</a> I sport, code, make stuff.</p>

  <p>Wear a F-ing mask.</p>

  <p>
    You can contact me through
    <a href="{{ '/social' | absolute_url }}">my social page</a>.
  </p>
</div>
