<div class="minibio">
  <div class="avatar-img-border float-left">
    <a href="{{ '' | absolute_url }}">
      <img
        alt="Navigation bar avatar"
        class="avatar-img"
        src="{{ site.avatar | relative_url }}"
      />
    </a>
  </div>

  <p>I'm Kian Ryan</p>

  <p>
    <a href="{{ site.aboutme }}">TLDR;</a> I sport, code, make stuff, and
    <a href="https://twitch.tv/betsyandsamantha">play adventure games</a>.
  </p>

  <p>
    Stay safe. Trans rights are human rights. NFTs are still
    a scam. <b>Still</b> get f-ed Putin. Imagine the *real world*
    good you could do with $44bn.
  </p>
</div>

<div class="dabillz">
  <p>
    There are no ads on this blog and as far as I can remember, never have been.
  </p>

  <p>
    ☕ If you want to support any of the work done here, or elsewhere,
    <a href="https://ko-fi.com/G2G71ICTD" target="_blank"
      >you can buy me a coffee on Ko-Fi.</a
    >
  </p>
</div>
