---
layout: page
permalink: /now/
full-width: true
---

<div class="row">
  <div class="offset-xl-1 col-xl-7">

    <div>
      {% capture now_content %}{% include_relative now-content.md %}{% endcapture %}
      {{ now_content | markdownify }}
    </div>

    {% include mini-bio.html %}
</div>

  <div class="col-xl-3">
    <div>
        <div class="mt-3 alert alert-secondary">
        <p>This is a <a href="https://nownownow.com/about">now</a> page.</p>

        <p>I stole it from <a href="https://martinrue.com/now/">Martin Rue</a>, who stole it from <a href="https://sivers.org/">Derek Sivers</a>.</p>
        </div>

    </div>
  </div>
</div>