---
---

@import "minima-reboot";

body {
}

a {
	color: #9B0C00;
}

#nav-header {
	background-color: #2E5077;
}

footer#site-footer {

  background-color: #B9BDCC;

  svg {
    width: 16px;
    height: 16px;
  }

  .Github svg { fill: #181717; }
  .Twitter svg { fill: #1DA1F2; }
  .Tumblr svg { fill: #36465D; }
  .Strava svg { fill: #FC4C02; }
}

h2.post-list-heading { margin: 1rem 0; }

article img { max-width: 600px; max-height: 600px; }

#profile img { max-width: 100px; }
