---
---

@import "minima-reboot";

body {
    font-family: 'Roboto', sans-serif;

}

a {
	color: #9B0C00;
}

.h3, h3, h2, h1 {
    font-family: 'Lato'
}

h2 {
    font-size: 1.75rem;
}

.h3 h3 {
    font-size: 1.6rem;
}

#nav-header {
        border-top: 5px solid #4DA1A9 !important;
	background-color: #2E5077;
        background-image: url("/assets/images/static/billie-holiday.png");

    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;

}

footer#site-footer {

  background-color: #B9BDCC;
  background-image: url("/assets/images/static/45-degree-fabric-dark.png");

  svg {
    width: 16px;
    height: 16px;
  }

  .Github svg { fill: #181717; }
  .Twitter svg { fill: #1DA1F2; }
  .Tumblr svg { fill: #36465D; }
  .Strava svg { fill: #FC4C02; }
}

h2.post-list-heading { margin: 1rem 0; }

article img { max-width: 600px; max-height: 600px; }

#profile img { 
    max-width: 100px; 
    border-radius: 50%; 
    box-shadow: 6px 6px 21px 4px rgba(136,136,136,0.75);
    -webkit-box-shadow: 6px 6px 21px 4px rgba(136,136,136,0.75);
    -moz-box-shadow: 6px 6px 21px 4px rgba(136,136,136,0.75);
}

