---
layout: page
full-width: true
---

<div class="row">
  <div class="offset-xl-1 col-xl-7">

    {% assign posts = paginator.posts %}

    <div class="posts-list">

      {% for post in posts %}
        {% include previewpost.html post=post %}
      {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <ul class="pagination main-pager">
      {% if paginator.previous_page %}
      <li class="page-item previous">
        <a
          class="page-link"
          href="{{ paginator.previous_page_path | absolute_url }}"
          >&larr; Newer Posts</a
        >
      </li>
      {% endif %} {% if paginator.next_page %}
      <li class="page-item next">
        <a
          class="page-link"
          href="{{ paginator.next_page_path | absolute_url }}"
          >Older Posts &rarr;</a
        >
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>

  <!-- Mini About Us Panel -->

  <div class="col-xl-3">

    <div>
      <h2>Categories</h2>

        <nav>
        <ul class="list-unstyled">
            {% for category in site.categories %}
            <li><a href="{{site.baseurl}}/category/{{category|first|slugify}}">{{category|first}}</a></li>
            {% endfor %}
        </ul>
        </nav>
    </div>

    <div>
      {% include mini-bio.html %}
    </div>
  </div>
</div>