---
layout: page
---

<!-- {{ content }} -->

<div class="row">
  <div class="offset-xl-1 col-xl-7">


    {% assign posts = site.posts  %}

    <div class="posts-list">

      {% for post in posts limit:3 %}
        {% include previewpost.html post=post %}
      {% endfor %}
    </div>

    <ul class="pagination main-pager">
      <li class="page-item next">
        <a
          class="page-link"
          href="{{ '/blog/' | absolute_url }}"
          >More Posts &rarr;</a
        >
      </li>
   </ul>
  </div>

  <!-- Mini About Us Panel -->

  <div class="col-xl-3">
    <div>
      {% include mini-bio.html %}
    </div>

    <div class="mt-3 d-none d-md-block">
    <a class="twitter-timeline" data-width="400" data-height="500" href="https://twitter.com/kianryan?ref_src=twsrc%5Etfw">Tweets by kianryan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
