---
layout: default
---
<div class="row">

<div class="col-md-8">

    <div class="home pt-3">

      {% if site.posts.size > 0 %}
        <ul class="post-list list-unstyled">
          {% for post in site.posts limit:6 %}
          {% include _post.html %}
          {% endfor %}
        </ul>

        <p><a href="{{ "/blog" | relative_url }}">More Posts</a>, 
        subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% endif %}

    </div>

</div>

<div class="col-md-4">

    <div id="profile" class="py-4">

        <img class="float-right" src="/assets/images/static/profile_photo_square.jpg" alt="Profile Photo" />

        I'm <a href="/about">Kian Ryan</a>; web developer, fencing coach, triathlete, maker, and occassional speaker based in the North West of England.  You can find out what I'm currently up to on the <a href="/now">Now</a> page.
    </div>

    <div>
    <a class="twitter-timeline" data-width="400" data-height="500" href="https://twitter.com/kianryan?ref_src=twsrc%5Etfw">Tweets by kianryan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>

</div>



