---
layout: default
---
<div class="row">

<div class="col-md-8">

    <div class="home">
      {% if page.title %}
        <h1 class="page-heading">{{ page.title }}</h1>
      {% endif %}

      {{ content }}

      {% if site.posts.size > 0 %}
        <h2 class="post-list-heading">{{ page.list_title | default: "Latest Posts" }}</h2>

        <ul class="post-list list-unstyled">
          {% for post in site.posts limit:5 %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {% if site.show_excerpts %}
              {{ post.excerpt }}
            {% endif %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <span class="post-meta">
            {% assign categories = post.categories %}
            {% for category in categories %}
              <a href="{{site.baseurl}}/blog/{{category|slugize}}">{{category}}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
            </span>
            <hr />
          </li>
          {% endfor %}
        </ul>

        <p><a href="{{ "/blog" | relative_url }}">More Posts</a>, 
        subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% endif %}

    </div>

</div>

<div class="col-md-4">

    <div style="padding: 40px 0;">
        I'm Kian Ryan; a web developer, fencing coach, triathlete, maker, and occassional speaker based in the North West of England.  You can find out what I'm currently up to on my <a href="/now">Now</a> page.
    </div>

    <div>
    <a class="twitter-timeline" data-width="400" data-height="500" href="https://twitter.com/kianryan?ref_src=twsrc%5Etfw">Tweets by kianryan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>

</div>



